<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= map.title %></title>

    <!-- BOOTSTRAP CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- CSS import -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/view-map.css" type="text/css" />

    <!-- JQ import -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- BOOTSRAP JS CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYFKtQIeixhpaOG8c72kkrb9ZN9L-ccIc&callback=initMap"
    async defer></script>

    <script>
      // creating variables which are accessable by imported js files
      const map = <%- JSON.stringify(map) %>;
      const poi_list = <%- JSON.stringify(poi_list) %>;
    </script>

    <!-- JS import -->
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
    <script type="text/javascript" src="/scripts/view-map.js"></script>
    <script type="text/javascript" src="/scripts/view-map-list.js"></script>
  </head>

  <body>

    <!-- Add nav bar but need to pass username into map_info -->

    <div id="map-list-container">

      <div id="map"></div>

      <div id="poi-list">

        <h1><%= map.title %></h1>
        <form method='GET' action='/maps/<%=map.id%>/addpoi'>
          <input type='submit' value='Add POI'></submit>
        </form>

        <% for (var i = 0; i < poi_list.length; i++) { %>
          <div class="poi-container">
            <div class="poi-title"> <%= poi_list[i].title %> </div>
            <div class="poi-body">
              <div class="poi-address">Address: <%= poi_list[i].address %> </div>
              <div class="poi-desc">Description: <%= poi_list[i].description %> </div>
              <div class="poi-user">Created by: <%= poi_list[i].created_by_username %> </div>

            </div>
          </div>
        <% } %>



      </div>

    </div>

  </body>
</html>
