<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!-- CSS import -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/view-map.css" type="text/css" />

    <!-- JQ import -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYFKtQIeixhpaOG8c72kkrb9ZN9L-ccIc&callback=initMap"
    async defer></script>

    <script>
      // creating variables which are accessable by imported js files
      const map = <%- JSON.stringify(map) %>;
      const poi_list = <%- JSON.stringify(poi_list) %>;
     </script>

    <!-- JS import -->
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
    <script type="text/javascript" src="/scripts/view-map.js"></script>
  </head>

  <body>

    <h1><%= map.title %></h1>
    <form method='GET' action='/maps/<%=map.id%>/addpoi'>
      <input type='submit' value='Add POI'></submit>
    </form>

    <div id="map"></div>

    <div id="poi-list">
      <% for (let poi in poi_list) {%>

      <div class="poi-container">
        <div class="poi-title"> <%= poi_list[poi].title %> </div>
        <div class="poi-desc"> <%= poi_list[poi].description %> </div>
      </div>

      <% } %>



    </div>

  </body>
</html>
